In [1]:
import numpy as np
import pandas as pd

In [2]:
# Import the excel file and call it xls_file
xls_file = pd.ExcelFile('daily_met.xls')
xls_file

In [3]:
# View the excel file's sheet names
xls_file.sheet_names
df = xls_file.parse('rain')
df.head()

   date_rain  rain
0 2014-11-01  16.8
1 2014-11-02   0.7
2 2014-11-03   0.4
3 2014-11-04   1.7
4 2014-11-05   1.2

In [4]:
df['date_rain'] = pd.to_datetime(df['date_rain'],format='%Y-%m-%d')

for daysDelta in range(-20,-6): #CHANGE HERE (assumes 3 days forecasted data)
    key = 't_rain'+str(daysDelta)
    df[key] = np.nan
print(df.head())

   date_rain  rain  t_rain-20  t_rain-19  t_rain-18  t_rain-17  t_rain-16  \
0 2014-11-01  16.8        NaN        NaN        NaN        NaN        NaN
1 2014-11-02   0.7        NaN        NaN        NaN        NaN        NaN
2 2014-11-03   0.4        NaN        NaN        NaN        NaN        NaN
3 2014-11-04   1.7        NaN        NaN        NaN        NaN        NaN
4 2014-11-05   1.2        NaN        NaN        NaN        NaN        NaN

   t_rain-15  t_rain-14  t_rain-13  t_rain-12  t_rain-11  t_rain-10  t_rain-9  \
0        NaN        NaN        NaN        NaN        NaN        NaN       NaN
1        NaN        NaN        NaN        NaN        NaN        NaN       NaN
2        NaN        NaN        NaN        NaN        NaN        NaN       NaN
3        NaN        NaN        NaN        NaN        NaN        NaN       NaN
4        NaN        NaN        NaN        NaN        NaN        NaN       NaN

   t_rain-8  t_rain-7
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN
3       NaN       NaN
4       NaN       NaN

In [5]:
%time
for index, row in df.iterrows():
    for daysDelta in range(-20,-6): #loops through days
        key = 't_rain'+str(daysDelta)

        # will be true if the difference of days is the one you are looking for
        booleanTimeDelta = ((df.loc[:,'date_rain'] -row['date_rain']).dt.days == daysDelta) 

        # if any are true find them and assign it  
        if any(booleanTimeDelta):
            df.loc[index:index+1,key] = df.loc[booleanTimeDelta,'rain'].values

Wall time: 0 ns

In [6]:
print(df.head(n=20))

    date_rain  rain t_rain-20 t_rain-19 t_rain-18 t_rain-17 t_rain-16  \
0  2014-11-01  16.8       NaN       NaN       NaN       NaN       NaN
1  2014-11-02   0.7       NaN       NaN       NaN       NaN       NaN
2  2014-11-03   0.4       NaN       NaN       NaN       NaN       NaN
3  2014-11-04   1.7       NaN       NaN       NaN       NaN       NaN
4  2014-11-05   1.2       NaN       NaN       NaN       NaN       NaN
5  2014-11-06  18.6       NaN       NaN       NaN       NaN       NaN
6  2014-11-07   1.4       NaN       NaN       NaN       NaN       NaN
7  2014-11-08   8.5       NaN       NaN       NaN       NaN       NaN
8  2014-11-09   0.3       NaN       NaN       NaN       NaN       NaN
9  2014-11-10   3.4       NaN       NaN       NaN       NaN       NaN
10 2014-11-20   0.1       NaN      16.8       0.7       0.4       1.7
11 2014-11-21   7.7      16.8       0.7       0.4       1.7       1.2
12 2014-11-22     1       0.7       0.4       1.7       1.2      18.6
13 2014-11-23   0.1       0.4       1.7       1.2      18.6       1.4
14 2014-11-24   0.9       1.7       1.2      18.6       1.4       8.5
15 2014-11-25   0.8       1.2      18.6       1.4       8.5       0.3
16 2014-11-26   0.1      18.6       1.4       8.5       0.3       3.4
17 2014-11-27   0.1       1.4       8.5       0.3       3.4       3.4
18 2014-11-28   0.1       8.5       0.3       3.4       3.4       NaN
19 2014-11-29     0       0.3       3.4       3.4       NaN       NaN

   t_rain-15 t_rain-14 t_rain-13 t_rain-12 t_rain-11 t_rain-10 t_rain-9  \
0        NaN       NaN       NaN       NaN       NaN       NaN      NaN
1        NaN       NaN       NaN       NaN       NaN       NaN      NaN
2        NaN       NaN       NaN       NaN       NaN       NaN      NaN
3        NaN       NaN       NaN       NaN       NaN       NaN      NaN
4        NaN       NaN       NaN       NaN       NaN       NaN      NaN
5        NaN       NaN       NaN       NaN       NaN       NaN      NaN
6        NaN       NaN       NaN       NaN       NaN       NaN      NaN
7        NaN       NaN       NaN       NaN       NaN       NaN      NaN
8        NaN       NaN       NaN       NaN       NaN       NaN      NaN
9        NaN       NaN       NaN       NaN       NaN       NaN     16.8
10       1.2      18.6       1.4       8.5       0.3       3.4     16.8
11      18.6       1.4       8.5       0.3       3.4       3.4      NaN
12       1.4       8.5       0.3       3.4       3.4       NaN      NaN
13       8.5       0.3       3.4       3.4       NaN       NaN      NaN
14       0.3       3.4       3.4       NaN       NaN       NaN      NaN
15       3.4       3.4       NaN       NaN       NaN       NaN      NaN
16       3.4       NaN       NaN       NaN       NaN       NaN      NaN
17       NaN       NaN       NaN       NaN       NaN       NaN      NaN
18       NaN       NaN       NaN       NaN       NaN       NaN      NaN
19       NaN       NaN       NaN       NaN       NaN       NaN      0.1

   t_rain-8 t_rain-7
0       NaN      NaN
1       NaN      NaN
2       NaN      NaN
3       NaN      NaN
4       NaN      NaN
5       NaN      NaN
6       NaN      NaN
7       NaN     16.8
8      16.8      0.7
9       0.7      0.4
10      0.7      0.4
11      NaN      NaN
12      NaN      NaN
13      NaN      NaN
14      NaN      NaN
15      NaN      NaN
16      NaN      NaN
17      NaN      0.1
18      0.1      7.7
19      7.7        1

In [7]:
# Import the excel file and call it xls_file
xls_file_2 = pd.ExcelFile('dates_aquisition.xls')
xls_file_2
xls_file_2.sheet_names

[u'Dates_aquisition']

In [8]:
df_dates = xls_file_2.parse('Dates_aquisition')
df_dates.head()

   date_aqui
0 2014-11-22
1 2014-12-28
2 2015-01-02
3 2015-02-04
4 2015-02-16

In [9]:
merge_df = pd.merge(df, df_dates, left_on = ['date_rain'], right_on = ['date_aqui'])
merge_df.head()

,date_rain,rain,t_rain-20,t_rain-19,t_rain-18,t_rain-17,t_rain-16,t_rain-15,t_rain-14,t_rain-13,t_rain-12,t_rain-11,t_rain-10,t_rain-9,t_rain-8,t_rain-7,date_aqui
0,2014-11-22,1,0.7,0.4,1.7,1.2,18.6,1.4,8.5,0.3,3.4,3.4,NaN,NaN,NaN,NaN,2014-11-22
1,2014-12-28,0,0,3.8,9,26.4,1.4,0,1.8,2.2,6.6,2.4,7.5,0.5,1.1,0.3,2014-12-28
2,2015-01-02,0.3,0,1.8,2.2,6.6,2.4,7.5,0.5,1.1,0.3,3.3,4.1,0.3,0,10.1,2015-01-02
3,2015-02-04,0,5.8,2.6,1.4,0,1.9,6.6,0.1,0,2.4,0,2.7,0.4,0.4,3.8,2015-02-04
4,2015-02-16,0.2,0.4,3.8,8.8,1.7,0.5,0,0,1.3,0,0,0.1,0,0,0,2015-02-16

In [10]:
merge_df.drop('date_aqui', axis=1, inplace=True)
merge_df.drop(0, axis=0, inplace=True)
merge_df.head()

,date_rain,rain,t_rain-20,t_rain-19,t_rain-18,t_rain-17,t_rain-16,t_rain-15,t_rain-14,t_rain-13,t_rain-12,t_rain-11,t_rain-10,t_rain-9,t_rain-8,t_rain-7
1,2014-12-28,0,0,3.8,9,26.4,1.4,0,1.8,2.2,6.6,2.4,7.5,0.5,1.1,0.3
2,2015-01-02,0.3,0,1.8,2.2,6.6,2.4,7.5,0.5,1.1,0.3,3.3,4.1,0.3,0,10.1
3,2015-02-04,0,5.8,2.6,1.4,0,1.9,6.6,0.1,0,2.4,0,2.7,0.4,0.4,3.8
4,2015-02-16,0.2,0.4,3.8,8.8,1.7,0.5,0,0,1.3,0,0,0.1,0,0,0
5,2015-02-28,1.7,0,0,0,0,0,4.5,0,6.2,0.2,0,0.8,3.6,2.5,0.2

In [11]:
merge_df.to_csv('rain_dataframe.csv')